<footer itemtype="https://schema.org/WPFooter" itemscope="itemscope" id="colophon" role="contentinfo">
    <div class='footer-width-fixer'>
        <div data-elementor-type="wp-post" data-elementor-id="2134" class="elementor elementor-2134"
            data-elementor-settings="[]">
            <div class="elementor-section-wrap">
                <footer
                    class="elementor-section elementor-top-section elementor-element elementor-element-1dad71dc elementor-section-full_width section_footer jupiterx-site elementor-section-height-default elementor-section-height-default"
                    data-id="1dad71dc" data-element_type="section" id="footer"
                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-1c6d0cdd"
                            data-id="1c6d0cdd" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-2f3dfdb elementor-widget elementor-widget-image"
                                    data-id="2f3dfdb" data-element_type="widget" data-widget_type="image.default">
                                    <div class="elementor-widget-container">
                                        <img width="300" height="109" src="assets/img/logo-blanc-300x109.png"
                                            class="attachment-medium size-medium" alt="My RHIS" loading="lazy"
                                            sizes="(max-width: 300px) 100vw, 300px" />
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-71b239c7 elementor-widget elementor-widget-text-editor"
                                    data-id="71b239c7" data-element_type="widget"
                                    data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <p>RHIS Solutions<br>140 Rue Gallieni<br>92100 Boulogne-Billancourt, France</p>
                                    </div>
                                </div>
                                <section
                                    class="elementor-section elementor-inner-section elementor-element elementor-element-8785d77 no_flex bloc_social_links elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                    data-id="8785d77" data-element_type="section">
                                    <div class="elementor-container elementor-column-gap-default">
                                        <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-8496302 col_txt_social"
                                            data-id="8496302" data-element_type="column">
                                            <div class="elementor-widget-wrap elementor-element-populated">
                                                <div class="elementor-element elementor-element-01e7cca elementor-widget elementor-widget-text-editor"
                                                    data-id="01e7cca" data-element_type="widget"
                                                    data-widget_type="text-editor.default">
                                                    <div class="elementor-widget-container">
                                                        <p>Suivez nos actualités</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-b631284 col_social_links"
                                            data-id="b631284" data-element_type="column">
                                            <div class="elementor-widget-wrap elementor-element-populated">
                                                <div class="elementor-element elementor-element-5c1cb7d8 e-grid-align-left elementor-shape-rounded elementor-grid-0 elementor-widget elementor-widget-social-icons"
                                                    data-id="5c1cb7d8" data-element_type="widget"
                                                    data-widget_type="social-icons.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-social-icons-wrapper elementor-grid">
                                                            <span class="elementor-grid-item">
                                                                <a class="elementor-icon elementor-social-icon elementor-social-icon-linkedin elementor-animation-grow elementor-repeater-item-048b965"
                                                                    href="https://www.linkedin.com/company/rhis-solutions/"
                                                                    target="_blank">
                                                                    <span class="elementor-screen-only">Linkedin</span>
                                                                    <i class='fab fa-linkedin'></i> </a>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-34e90cc0"
                            data-id="34e90cc0" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-37b2b548 elementor-widget elementor-widget-heading"
                                    data-id="37b2b548" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-default">Notre produit</h2>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-59c231ec elementor-widget elementor-widget-text-editor"
                                    data-id="59c231ec" data-element_type="widget"
                                    data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <ul>
                                            <li><a herf="/fonctionnalites-myrhis/la-solution" routerLinkActive="active">Gestion du
                                                    personnel</a></li>
                                            <li><a routerLink="/fonctionnalites-myrhis/performances">Planification</a>
                                            </li>
                                            <li><a routerLink="/fonctionnalites-myrhis/la-solution">Pointeuse</a></li>
                                            <li><a routerLink="/fonctionnalites-myrhis/la-solution">Guide des heures</a>
                                            </li>

                                            <li>
                                                <a routerLink="/integrations">Intégrations</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-156a63b6"
                            data-id="156a63b6" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-51efae14 elementor-widget elementor-widget-heading"
                                    data-id="51efae14" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-default">Nos services</h2>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-0ce826b elementor-widget elementor-widget-text-editor"
                                    data-id="0ce826b" data-element_type="widget" data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <ul>
                                            <li><a routerLink="/services">Conseil</a></li>
                                            <li><a routerLink="/services">Support de la suite MyRHIS</a></li>
                                            <li><a routerLink="/services">Maintenance de la</a> pointeuse</li>
                                            <li><a routerLink="/services">Formation</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-178427ce"
                            data-id="178427ce" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-42dea7f6 elementor-widget elementor-widget-heading"
                                    data-id="42dea7f6" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-default">A propos</h2>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-5b305fe8 elementor-widget elementor-widget-text-editor"
                                    data-id="5b305fe8" data-element_type="widget"
                                    data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <ul>
                                            <li><a routerLink="/contact">Nous contacter</a></li>
                                            <li>Le Blog</li>
                                            <li><a routerLink="/mentions-legales">Politique de Confidentialité</a></li>
                                            <li><a routerLink="/mentions-legales">Mentions légales</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</footer>