/*
  Eu-cookies-bar icon font: Eu-cookies-bar
  Creation date: 23/06/2018 06:42
  */

@font-face {
    font-family: "Eu-cookies-bar";
    src: url("../fonts/eu-cookies-bar.eot");
    src: url("../fonts/eu-cookies-bard41d.eot?#iefix") format("embedded-opentype"),
    url("../fonts/eu-cookies-bar.woff") format("woff"),
    url("../fonts/eu-cookies-bar.ttf") format("truetype"),
    url("../fonts/eu-cookies-bar.svg#Eu-cookies-bar") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: "Eu-cookies-bar";
        src: url("../fonts/eu-cookies-bar.svg#Eu-cookies-bar") format("svg");
    }
}

[class^="eu-cookies-bar-"]:before, [class*=" eu-cookies-bar-"]:before,
[class^="eu-cookies-bar-"]:after, [class*=" eu-cookies-bar-"]:after {
    font-family: Eu-cookies-bar;
    font-size: inherit;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.eu-cookies-bar-cookies:before {
    content: "\f100";
}

.eu-cookies-bar-tick:before {
    content: "\f101";
}

.eu-cookies-bar-close:before {
    content: "\f102";
}

#toplevel_page_eu-cookies-bar .wp-menu-image:before {
    content: "\f100" !important;
    font-family: Eu-cookies-bar !important;
}