<app-navbar></app-navbar>
<app-navbar></app-navbar>
<section>
  <div style="padding-top: 10%; padding-left: 10%;">
      <div>
          <h1>Mentions légales</h1>
      </div>
      <div>
          <p><b>Editeur</b></p>
          <p><span style="font-weight: 400;">RHIS Solutions : 121 Rue d&rsquo;Aguesseau, 92100
                  Boulogne-Billancourt.</span></p>
          <p><span style="font-weight: 400;">Tel :&nbsp;+33 1 86 22 28 01</span></p>
          <p><span style="font-weight: 400;">Nº d’immatriculation de l’entreprise
                  :&nbsp;83293795700013</span></p>
          <p><span style="font-weight: 400;">N° TVA intracommunautaire&nbsp;: FR84832937957</span></p>
          <p><span style="font-weight: 400;">Directeur de la publication : Heikel Souissi,
                  Co-fondateur.</span></p>
          <p><b>Hébergement</b></p>
          <p><span style="font-weight: 400;">https://www.gandi.net</span></p>
          <p></p>
      </div>
  </div>
</section>
<section>
  <div style="padding-top: 5%; padding-left: 10%; padding-right: 10%; padding-bottom: 10%">
      <div>
          <h1>Politique de confidentialité</h1>
      </div>

      <div class="elementor-widget-container">
          <p><b>DONNÉES PERSONNELLES</b></p>
          <p>Les informations à caractère personnel recueillies sur le site www.rhis-solutions.com
              bénéficient de la
              protection de la loi française n° 78-17 du 6 janvier 1978 dite « Loi Informatique et
              Libertés »</p>
          <p><span style="font-weight: 400;">D&rsquo;une façon générale, vous pouvez visiter notre site
                  sur Internet
                  sans avoir à décliner votre identité et à fournir des informations personnelles vous
                  concernant.
                  Cependant, nous pouvons être amenés à vous demander des informations, par exemple pour
                  établir une
                  correspondance.</span></p>
          <p><span style="font-weight: 400;">Vous disposez sur les informations vous concernant, de droits
                  d&rsquo;accès, de rectification et d&rsquo;opposition pour des motifs légitimes à leur
                  traitement. Pour
                  exercer vos droits, envoyez un courrier avec vos nom, prénom, numéro de téléphone et
                  copie de votre
                  pièce d&rsquo;identité à l&rsquo;adresse de notre siège.</span></p>
          <p><b>Délégué à la Protection des Données :</b></p>
          <p>RHIS SOLUTIONS, en sa qualité de responsable de traitement, a désigné un Délégué à la
              Protection des
              Données.</p>
          <p>Celui-ci peut être contacté par courrier électronique à <a href="mailto:dpo@rhis-solutions.com"
                  target="_blank" rel="noopener">dpo@rhis-solutions.com</a></p>
          <p><b>POLITIQUE D&rsquo;UTILISATION DES COOKIES</b></p>
          <p><span style="font-weight: 400;">Ce site utilise des cookies – ce sont de petits fichiers
                  texte qui sont
                  placés sur votre machine pour aider le site à fournir une meilleure expérience
                  utilisateur. Les cookies
                  permettent notamment au site de stocker et de récupérer des informations concernant les
                  habitudes de
                  navigation d’un utilisateur ou de son équipement puis, en fonction de ces informations,
                  de le
                  reconnaître.</span></p>
          <p><span style="font-weight: 400;">Toutefois, les données obtenues sont restreintes. Elles
                  concernent
                  uniquement le nombre de pages visitées, la ville où est localisée l’adresse IP de
                  connexion au site web,
                  la fréquence et la récurrence des visites, la durée de la visite, le navigateur,
                  l’opérateur ou le type
                  de terminal à partir duquel la visite est effectuée. Des données telles que le nom, le
                  prénom de
                  l’utilisateur ou l&rsquo;adresse postale de connexion ne sont en aucun cas gérées par le
                  Cookies</span>
          </p>
          <p><span style="font-weight: 400;">Vous pouvez autoriser, bloquer ou supprimer les cookies
                  installés sur
                  votre poste en paramétrant les options de votre navigateur.</span></p>
      </div>
  </div>
</section>
<app-footer></app-footer>