<app-navbar></app-navbar>
<div
class="page-template-default page page-id-1918 wp-custom-logo _masterslider _msp_version_3.4.7 ehf-header ehf-footer ehf-template-jupiterx ehf-stylesheet-jupiterx-child jet-desktop-menu-active elementor-default elementor-kit-101 elementor-page elementor-page-1918">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none"
  style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
  <defs>
    <filter id="wp-duotone-dark-grayscale">
      <feColorMatrix color-interpolation-filters="sRGB" type="matrix"
        values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
      <feComponentTransfer color-interpolation-filters="sRGB">
        <feFuncR type="table" tableValues="0 0.49803921568627" />
        <feFuncG type="table" tableValues="0 0.49803921568627" />
        <feFuncB type="table" tableValues="0 0.49803921568627" />
        <feFuncA type="table" tableValues="1 1" />
      </feComponentTransfer>
      <feComposite in2="SourceGraphic" operator="in" />
    </filter>
  </defs>
</svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none"
  style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
  <defs>
    <filter id="wp-duotone-grayscale">
      <feColorMatrix color-interpolation-filters="sRGB" type="matrix"
        values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
      <feComponentTransfer color-interpolation-filters="sRGB">
        <feFuncR type="table" tableValues="0 1" />
        <feFuncG type="table" tableValues="0 1" />
        <feFuncB type="table" tableValues="0 1" />
        <feFuncA type="table" tableValues="1 1" />
      </feComponentTransfer>
      <feComposite in2="SourceGraphic" operator="in" />
    </filter>
  </defs>
</svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none"
  style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
  <defs>
    <filter id="wp-duotone-purple-yellow">
      <feColorMatrix color-interpolation-filters="sRGB" type="matrix"
        values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
      <feComponentTransfer color-interpolation-filters="sRGB">
        <feFuncR type="table" tableValues="0.54901960784314 0.98823529411765" />
        <feFuncG type="table" tableValues="0 1" />
        <feFuncB type="table" tableValues="0.71764705882353 0.25490196078431" />
        <feFuncA type="table" tableValues="1 1" />
      </feComponentTransfer>
      <feComposite in2="SourceGraphic" operator="in" />
    </filter>
  </defs>
</svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none"
  style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
  <defs>
    <filter id="wp-duotone-blue-red">
      <feColorMatrix color-interpolation-filters="sRGB" type="matrix"
        values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
      <feComponentTransfer color-interpolation-filters="sRGB">
        <feFuncR type="table" tableValues="0 1" />
        <feFuncG type="table" tableValues="0 0.27843137254902" />
        <feFuncB type="table" tableValues="0.5921568627451 0.27843137254902" />
        <feFuncA type="table" tableValues="1 1" />
      </feComponentTransfer>
      <feComposite in2="SourceGraphic" operator="in" />
    </filter>
  </defs>
</svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none"
  style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
  <defs>
    <filter id="wp-duotone-midnight">
      <feColorMatrix color-interpolation-filters="sRGB" type="matrix"
        values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
      <feComponentTransfer color-interpolation-filters="sRGB">
        <feFuncR type="table" tableValues="0 0" />
        <feFuncG type="table" tableValues="0 0.64705882352941" />
        <feFuncB type="table" tableValues="0 1" />
        <feFuncA type="table" tableValues="1 1" />
      </feComponentTransfer>
      <feComposite in2="SourceGraphic" operator="in" />
    </filter>
  </defs>
</svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none"
  style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
  <defs>
    <filter id="wp-duotone-magenta-yellow">
      <feColorMatrix color-interpolation-filters="sRGB" type="matrix"
        values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
      <feComponentTransfer color-interpolation-filters="sRGB">
        <feFuncR type="table" tableValues="0.78039215686275 1" />
        <feFuncG type="table" tableValues="0 0.94901960784314" />
        <feFuncB type="table" tableValues="0.35294117647059 0.47058823529412" />
        <feFuncA type="table" tableValues="1 1" />
      </feComponentTransfer>
      <feComposite in2="SourceGraphic" operator="in" />
    </filter>
  </defs>
</svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none"
  style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
  <defs>
    <filter id="wp-duotone-purple-green">
      <feColorMatrix color-interpolation-filters="sRGB" type="matrix"
        values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
      <feComponentTransfer color-interpolation-filters="sRGB">
        <feFuncR type="table" tableValues="0.65098039215686 0.40392156862745" />
        <feFuncG type="table" tableValues="0 1" />
        <feFuncB type="table" tableValues="0.44705882352941 0.4" />
        <feFuncA type="table" tableValues="1 1" />
      </feComponentTransfer>
      <feComposite in2="SourceGraphic" operator="in" />
    </filter>
  </defs>
</svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none"
  style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
  <defs>
    <filter id="wp-duotone-blue-orange">
      <feColorMatrix color-interpolation-filters="sRGB" type="matrix"
        values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
      <feComponentTransfer color-interpolation-filters="sRGB">
        <feFuncR type="table" tableValues="0.098039215686275 1" />
        <feFuncG type="table" tableValues="0 0.66274509803922" />
        <feFuncB type="table" tableValues="0.84705882352941 0.41960784313725" />
        <feFuncA type="table" tableValues="1 1" />
      </feComponentTransfer>
      <feComposite in2="SourceGraphic" operator="in" />
    </filter>
  </defs>
</svg>
<div id="page" class="hfeed site">



  <div class="jupiterx-content" role="main" itemprop="mainEntityOfPage" data-markup-id="jupiterx_content">
    <article id="1918" class="jupiterx-post post-1918 page type-page status-publish hentry"
      itemscope="itemscope" itemtype="http://schema.org/CreativeWork" data-markup-id="jupiterx_post">
      <header class="jupiterx-post-header" data-markup-id="jupiterx_post_header">
        <ul class="jupiterx-post-meta list-inline" data-markup-id="jupiterx_post_meta"></ul>
      </header>
      <div class="jupiterx-post-body" itemprop="articleBody" data-markup-id="jupiterx_post_body">
        <div class="jupiterx-post-content clearfix" itemprop="text" data-markup-id="jupiterx_post_content">
          <div data-elementor-type="wp-page" data-elementor-id="1918" class="elementor elementor-1918"
            data-elementor-settings="[]">
            <div class="elementor-section-wrap">
              <section
                class="elementor-section elementor-top-section elementor-element elementor-element-dc8ae2c section_solution no_flex after_header fond_blue_bottom elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                data-id="dc8ae2c" data-element_type="section"
                data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-container elementor-column-gap-default">
                  <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7882366 col_txt no_float_xs"
                    data-id="7882366" data-element_type="column"
                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                    <div class="elementor-widget-wrap elementor-element-populated">
                      <div class="elementor-section elementor-inner-section elementor-element elementor-element-d558986 wrap_txt elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                        data-id="d558986" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                          <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-7183fa3"
                            data-id="7183fa3" data-element_type="column">
                            <div
                              class="elementor-widget-wrap elementor-element-populated">
                              <div class="elementor-element elementor-element-0691094 title_section title_elt elementor-invisible elementor-widget elementor-widget-heading"
                                data-id="0691094" data-element_type="widget"
                                data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}"
                                data-widget_type="heading.default">
                                <div class="elementor-widget-container">
                                  <h1
                                    class="elementor-heading-title elementor-size-default">
                                    <span style="max-width: 120px; font-size: 100px; font-family: sans-serif; font-weight: bolder; ">Notre
                                      solution s’intègre</span> <span>avec vos
                                      systèmes <br>de gestion</span></h1>
                                </div>
                              </div>
                              <div class="elementor-element elementor-element-de01fd5 txt_section elementor-widget elementor-widget-text-editor"
                                data-id="de01fd5" data-element_type="widget"
                                data-widget_type="text-editor.default">
                                <div class="elementor-widget-container">
                                  <p>Une solution 360 pour la gestion des RH de
                                    votre restaurant</p>
                                </div>
                              </div>
                              <div class="elementor-element elementor-element-75f4315 cta elementor-widget elementor-widget-button"
                                data-id="75f4315" data-element_type="widget"
                                data-widget_type="button.default">
                                <div class="elementor-widget-container">
                                  <div class="elementor-button-wrapper">
                                    <a mat-raised-button href="/contact" target="_blank"
                                      class="elementor-button-link elementor-button elementor-size-sm elementor-animation-grow"
                                      role="button">
                                      <span
                                        class="elementor-button-content-wrapper">
                                        <span
                                          class="elementor-button-text">En
                                          savoir plus</span>
                                      </span>
                                    </a>
                                  </div>
                                </div>
                              </div>
                              <div class="elementor-element elementor-element-fea0219 img visible_xs notDisplay elementor-widget elementor-widget-image"
                                data-id="fea0219" data-element_type="widget"
                                data-widget_type="image.default">
                                <div class="elementor-widget-container">
                                  <img width="1024" height="742"
                                    src="assets/wp-content/uploads/2021/08/integrations1-1024x742.jpg"
                                    class="attachment-large size-large"
                                    alt="Integrations" loading="lazy"
                                    srcset="assets/wp-content/uploads/2021/08/integrations1-1024x742.jpg 1024w, assets/wp-content/uploads/2021/08/integrations1-300x217.jpg 300w, assets/wp-content/uploads/2021/08/integrations1-150x109.jpg 150w, assets/wp-content/uploads/2021/08/integrations1-768x557.jpg 768w, assets/wp-content/uploads/2021/08/integrations1-1536x1113.jpg 1536w, assets/wp-content/uploads/2021/08/integrations1-2048x1484.jpg 2048w"
                                    sizes="(max-width: 1024px) 100vw, 1024px" />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <section
                class="elementor-section elementor-top-section elementor-element elementor-element-1d67ab6 section_systeme_caisse no_flex overflow_hidden elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                data-id="1d67ab6" data-element_type="section">
                <div class="elementor-container elementor-column-gap-default">
                  <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-6cac2f0 col_elts no_float_sm elementor-invisible"
                    data-id="6cac2f0" data-element_type="column"
                    data-settings="{&quot;animation&quot;:&quot;fadeInLeft&quot;,&quot;animation_delay&quot;:500}">
                    <div class="elementor-widget-wrap elementor-element-populated">
                      <div class="elementor-section elementor-inner-section elementor-element elementor-element-2caf6b4 txt_elts elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                        data-id="2caf6b4" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                          <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-860a33c"
                            data-id="860a33c" data-element_type="column">
                            <div
                              class="elementor-widget-wrap elementor-element-populated">
                              <div class="elementor-element elementor-element-c205bae elementor-position-left title_icone elementor-vertical-align-top elementor-widget elementor-widget-image-box"
                                data-id="c205bae" data-element_type="widget"
                                data-widget_type="image-box.default">
                                <div class="elementor-widget-container">
                                  <div class="elementor-image-box-wrapper">
                                    <figure class="elementor-image-box-img"><img
                                        width="115" height="113"
                                        src="assets/wp-content/uploads/2021/08/caisse.png"
                                        class="attachment-full size-full"
                                        alt="Système de caisse"
                                        loading="lazy" /></figure>
                                    <div class="elementor-image-box-content">
                                      <h2 class="elementor-image-box-title">
                                        Système de caisse</h2>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="elementor-element elementor-element-009a779 txt ul_blanc elementor-widget elementor-widget-text-editor"
                                data-id="009a779" data-element_type="widget"
                                data-widget_type="text-editor.default">
                                <div class="elementor-widget-container">
                                  <ul>
                                    <li>L’intégration avec votre système de
                                      caisse permet de communiquer vos
                                      rapports de ventes à MyRHIS.</li>
                                    <li>Vous rationalisez ainsi vos coûts avec
                                      un calcul des plannings basé sur les
                                      historiques de ventes.</li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="elementor-section elementor-inner-section elementor-element elementor-element-9015453 captures_sys_caisse elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                        data-id="9015453" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                          <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-98b2ab3 col no_float_xs"
                            data-id="98b2ab3" data-element_type="column">
                            <div
                              class="elementor-widget-wrap elementor-element-populated">
                              <div class="elementor-element elementor-element-84583bb img elementor-widget elementor-widget-image"
                                data-id="84583bb" data-element_type="widget"
                                data-widget_type="image.default">
                                <div class="elementor-widget-container">
                                  <img width="217" height="197"
                                    src="assets/wp-content/uploads/2021/08/ca.png"
                                    class="attachment-medium size-medium"
                                    alt="ca" loading="lazy"
                                    srcset="assets/wp-content/uploads/2021/08/ca.png 217w, assets/wp-content/uploads/2021/08/ca-150x136.png 150w"
                                    sizes="(max-width: 217px) 100vw, 217px" />
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-aa1cd99 col no_float_xs"
                            data-id="aa1cd99" data-element_type="column">
                            <div
                              class="elementor-widget-wrap elementor-element-populated">
                              <div class="elementor-element elementor-element-1dcaa07 img elementor-widget elementor-widget-image"
                                data-id="1dcaa07" data-element_type="widget"
                                data-widget_type="image.default">
                                <div class="elementor-widget-container">
                                  <img width="217" height="197"
                                    src="assets/wp-content/uploads/2021/08/effectif.png"
                                    class="attachment-medium size-medium"
                                    alt="Effectif" loading="lazy"
                                    srcset="assets/wp-content/uploads/2021/08/effectif.png 217w, assets/wp-content/uploads/2021/08/effectif-150x136.png 150w"
                                    sizes="(max-width: 217px) 100vw, 217px" />
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-c9b29ef col no_float_xs col_xl"
                            data-id="c9b29ef" data-element_type="column">
                            <div
                              class="elementor-widget-wrap elementor-element-populated">
                              <div class="elementor-element elementor-element-eb066a5 img elementor-widget elementor-widget-image"
                                data-id="eb066a5" data-element_type="widget"
                                data-widget_type="image.default">
                                <div class="elementor-widget-container">
                                  <img width="220" height="197"
                                    src="assets/wp-content/uploads/2021/08/caisse8.png"
                                    class="attachment-medium size-medium"
                                    alt="Caisse" loading="lazy"
                                    srcset="assets/wp-content/uploads/2021/08/caisse8.png 220w, assets/wp-content/uploads/2021/08/caisse8-150x134.png 150w"
                                    sizes="(max-width: 220px) 100vw, 220px" />
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-feac243 col no_float_xs col_xl"
                            data-id="feac243" data-element_type="column">
                            <div
                              class="elementor-widget-wrap elementor-element-populated">
                              <div class="elementor-element elementor-element-bcfd9cc img elementor-widget elementor-widget-image"
                                data-id="bcfd9cc" data-element_type="widget"
                                data-widget_type="image.default">
                                <div class="elementor-widget-container">
                                  <img width="221" height="197"
                                    src="assets/wp-content/uploads/2021/08/cuisine.png"
                                    class="attachment-medium size-medium"
                                    alt="Cuisine" loading="lazy"
                                    srcset="assets/wp-content/uploads/2021/08/cuisine.png 221w, assets/wp-content/uploads/2021/08/cuisine-150x134.png 150w"
                                    sizes="(max-width: 221px) 100vw, 221px" />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="elementor-section elementor-inner-section elementor-element elementor-element-293f620 captures_sys_caisse elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                        data-id="293f620" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                          <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-5043323 col no_float_xs"
                            data-id="5043323" data-element_type="column">
                            <div
                              class="elementor-widget-wrap elementor-element-populated">
                              <div class="elementor-element elementor-element-261aa0b img elementor-widget elementor-widget-image"
                                data-id="261aa0b" data-element_type="widget"
                                data-widget_type="image.default">
                                <div class="elementor-widget-container">
                                  <img width="217" height="197"
                                    src="assets/wp-content/uploads/2021/08/productivite.png"
                                    class="attachment-medium size-medium"
                                    alt="Productivité" loading="lazy"
                                    srcset="assets/wp-content/uploads/2021/08/productivite.png 217w, assets/wp-content/uploads/2021/08/productivite-150x136.png 150w"
                                    sizes="(max-width: 217px) 100vw, 217px" />
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-f7fdef0 col no_float_xs"
                            data-id="f7fdef0" data-element_type="column">
                            <div
                              class="elementor-widget-wrap elementor-element-populated">
                              <div class="elementor-element elementor-element-a5600ce img elementor-widget elementor-widget-image"
                                data-id="a5600ce" data-element_type="widget"
                                data-widget_type="image.default">
                                <div class="elementor-widget-container">
                                  <img width="217" height="197"
                                    src="assets/wp-content/uploads/2021/08/cout-empl.png"
                                    class="attachment-medium size-medium"
                                    alt="Coût EMPL." loading="lazy"
                                    srcset="assets/wp-content/uploads/2021/08/cout-empl.png 217w, assets/wp-content/uploads/2021/08/cout-empl-150x136.png 150w"
                                    sizes="(max-width: 217px) 100vw, 217px" />
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-f9bec55 col no_float_xs col_xl"
                            data-id="f9bec55" data-element_type="column">
                            <div
                              class="elementor-widget-wrap elementor-element-populated">
                              <div class="elementor-element elementor-element-14bc609 img elementor-widget elementor-widget-image"
                                data-id="14bc609" data-element_type="widget"
                                data-widget_type="image.default">
                                <div class="elementor-widget-container">
                                  <img width="221" height="197"
                                    src="assets/wp-content/uploads/2021/08/livraison.png"
                                    class="attachment-medium size-medium"
                                    alt="livraison" loading="lazy"
                                    srcset="assets/wp-content/uploads/2021/08/livraison.png 221w, assets/wp-content/uploads/2021/08/livraison-150x134.png 150w"
                                    sizes="(max-width: 221px) 100vw, 221px" />
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-4f4f074 col no_float_xs col_xl"
                            data-id="4f4f074" data-element_type="column">
                            <div
                              class="elementor-widget-wrap elementor-element-populated">
                              <div class="elementor-element elementor-element-49c6762 img elementor-widget elementor-widget-image"
                                data-id="49c6762" data-element_type="widget"
                                data-widget_type="image.default">
                                <div class="elementor-widget-container">
                                  <img width="221" height="197"
                                    src="assets/wp-content/uploads/2021/08/drive.png"
                                    class="attachment-medium size-medium"
                                    alt="drive" loading="lazy"
                                    srcset="assets/wp-content/uploads/2021/08/drive.png 221w, assets/wp-content/uploads/2021/08/drive-150x134.png 150w"
                                    sizes="(max-width: 221px) 100vw, 221px" />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="elementor-section elementor-inner-section elementor-element elementor-element-8c5eb8d captures_sys_caisse elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                        data-id="8c5eb8d" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                          <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-5470a62"
                            data-id="5470a62" data-element_type="column">
                            <div
                              class="elementor-widget-wrap elementor-element-populated">
                              <div class="elementor-element elementor-element-ca71246 elementor-align-left cta elementor-widget elementor-widget-button"
                                data-id="ca71246" data-element_type="widget"
                                data-widget_type="button.default">
                                <div class="elementor-widget-container">
                                  <div class="elementor-button-wrapper">
                                    <a mat-raised-button href="/contact" target="_blank"
                                      class="elementor-button-link elementor-button elementor-size-sm elementor-animation-grow"
                                      role="button">
                                      <span
                                        class="elementor-button-content-wrapper">
                                        <span
                                          class="elementor-button-text">Testez
                                          myrhis</span>
                                      </span>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-9b6d400 col_img no_float_sm"
                    data-id="9b6d400" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                      <div class="elementor-element elementor-element-ba79b19 pastille elementor-invisible elementor-widget elementor-widget-text-editor"
                        data-id="ba79b19" data-element_type="widget"
                        data-settings="{&quot;_animation&quot;:&quot;bounceIn&quot;}"
                        data-widget_type="text-editor.default">
                        <div class="elementor-widget-container">
                          <p><img class="alignnone size-full wp-image-2018"
                              src="assets/wp-content/uploads/2021/08/agenda.png"
                              alt="Des plannings liés à vos ventes" width="79"
                              height="79" /></p>
                          <p>Des plannings liés à vos ventes</p>
                        </div>
                      </div>
                      <div class="elementor-element elementor-element-11dbb9e img elementor-widget elementor-widget-image"
                        data-id="11dbb9e" data-element_type="widget"
                        data-widget_type="image.default">
                        <div class="elementor-widget-container">
                          <img width="794" height="918"
                            src="assets/wp-content/uploads/2021/08/visuel-systeme-caisse.png"
                            class="attachment-large size-large" alt="Système de caisse"
                            loading="lazy"
                            srcset="assets/wp-content/uploads/2021/08/visuel-systeme-caisse.png 794w, assets/wp-content/uploads/2021/08/visuel-systeme-caisse-259x300.png 259w, assets/wp-content/uploads/2021/08/visuel-systeme-caisse-130x150.png 130w, assets/wp-content/uploads/2021/08/visuel-systeme-caisse-768x888.png 768w"
                            sizes="(max-width: 794px) 100vw, 794px" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <section
                class="elementor-section elementor-top-section elementor-element elementor-element-341b24d section_logos_clients no_flex elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                data-id="341b24d" data-element_type="section">
                <div class="elementor-container elementor-column-gap-default">
                  <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-3bd9704"
                    data-id="3bd9704" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                      <div class="elementor-element elementor-element-3d32d5d title_elt title elementor-widget elementor-widget-heading"
                        data-id="3d32d5d" data-element_type="widget"
                        data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                          <h2 class="elementor-heading-title elementor-size-default">Des
                            partenaires techniques</h2>
                        </div>
                      </div>
                      <div class="elementor-element elementor-element-12c2062 elementor-arrows-position-outside logos elementor-widget elementor-widget-image-carousel"
                        data-id="12c2062" data-element_type="widget"
                        data-settings="{&quot;slides_to_show&quot;:&quot;6&quot;,&quot;slides_to_show_tablet&quot;:&quot;3&quot;,&quot;slides_to_show_mobile&quot;:&quot;1&quot;,&quot;slides_to_scroll&quot;:&quot;5&quot;,&quot;slides_to_scroll_tablet&quot;:&quot;3&quot;,&quot;slides_to_scroll_mobile&quot;:&quot;1&quot;,&quot;navigation&quot;:&quot;arrows&quot;,&quot;image_spacing_custom&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:76,&quot;sizes&quot;:[]},&quot;autoplay&quot;:&quot;yes&quot;,&quot;pause_on_hover&quot;:&quot;yes&quot;,&quot;pause_on_interaction&quot;:&quot;yes&quot;,&quot;autoplay_speed&quot;:5000,&quot;infinite&quot;:&quot;yes&quot;,&quot;speed&quot;:500}"
                        data-widget_type="image-carousel.default">
                        <div class="elementor-widget-container">
                          <div class="elementor-image-carousel-wrapper swiper-container"
                            dir="ltr">
                            <div class="elementor-image-carousel swiper-wrapper">
                              <div class="swiper-slide">
                                <figure class="swiper-slide-inner"><img
                                    class="swiper-slide-image"
                                    src="assets/wp-content/uploads/2021/08/Acrelec-300x126.png"
                                    alt="Acrelec" /></figure>
                              </div>
                              <div class="swiper-slide">
                                <figure class="swiper-slide-inner"><img
                                    class="swiper-slide-image"
                                    src="assets/wp-content/uploads/2021/08/sage.png"
                                    alt="sage" /></figure>
                              </div>
                              <div class="swiper-slide">
                                <figure class="swiper-slide-inner"><img
                                    class="swiper-slide-image"
                                    src="assets/wp-content/uploads/2021/08/cegid.png"
                                    alt="cegid" /></figure>
                              </div>
                              <div class="swiper-slide">
                                <figure class="swiper-slide-inner"><img
                                    class="swiper-slide-image"
                                    src="assets/wp-content/uploads/2021/08/npact-1-300x155.png"
                                    alt="npact" /></figure>
                              </div>
                              <div class="swiper-slide">
                                <figure class="swiper-slide-inner"><img
                                    class="swiper-slide-image"
                                    src="assets/wp-content/uploads/2021/08/e-paye.png"
                                    alt="e-paye" /></figure>
                              </div>
                              <div class="swiper-slide">
                                <figure class="swiper-slide-inner"><img
                                    class="swiper-slide-image"
                                    src="assets/wp-content/uploads/2021/08/sila-expert-1-300x125.png"
                                    alt="sila-expert" /></figure>
                              </div>
                              <div class="swiper-slide">
                                <figure class="swiper-slide-inner"><img
                                    class="swiper-slide-image"
                                    src="assets/wp-content/uploads/2021/09/Logo-in-extenso-300x48.png"
                                    alt="Logo in extenso" /></figure>
                              </div>
                              <div class="swiper-slide">
                                <figure class="swiper-slide-inner"><img
                                    class="swiper-slide-image"
                                    src="assets/wp-content/uploads/2021/09/oracle-removebg-preview-300x110-1.png"
                                    alt="oracle-removebg-preview-300x110 (1)" />
                                </figure>
                              </div>
                            </div>
                            <div
                              class="elementor-swiper-button elementor-swiper-button-prev">
                              <i class="eicon-chevron-left" aria-hidden="true"></i>
                              <span class="elementor-screen-only">Précédent</span>
                            </div>
                            <div
                              class="elementor-swiper-button elementor-swiper-button-next">
                              <i class="eicon-chevron-right" aria-hidden="true"></i>
                              <span class="elementor-screen-only">Suivant</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <section
                class="elementor-section elementor-top-section elementor-element elementor-element-812a859 section_sys_paie no_flex overflow_hidden elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                data-id="812a859" data-element_type="section">
                <div class="elementor-container elementor-column-gap-default">
                  <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-b78cdb6 col col_img no_float_sm"
                    data-id="b78cdb6" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                      <div class="elementor-element elementor-element-7a13ffb img elementor-invisible elementor-widget elementor-widget-image"
                        data-id="7a13ffb" data-element_type="widget"
                        data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;}"
                        data-widget_type="image.default">
                        <div class="elementor-widget-container">
                          <img width="1100" height="989"
                            src="assets/img/systeme-de-paie.png" width="600"
                            height="500" class="attachment-large size-large"
                            alt="Système de paie" loading="lazy"
                            sizes="(max-width: 1024px) 100vw, 1024px" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-feaa679 col col_txt float_right no_float_sm elementor-invisible"
                    data-id="feaa679" data-element_type="column"
                    data-settings="{&quot;animation&quot;:&quot;fadeInRight&quot;}">
                    <div class="elementor-widget-wrap elementor-element-populated">
                      <div class="elementor-element elementor-element-2e43167 elementor-position-left title_icone elementor-vertical-align-top elementor-widget elementor-widget-image-box"
                        data-id="2e43167" data-element_type="widget"
                        data-widget_type="image-box.default">
                        <div class="elementor-widget-container">
                          <div class="elementor-image-box-wrapper">
                            <figure class="elementor-image-box-img"><img width="115"
                                height="115"
                                src="assets/wp-content/uploads/2021/08/picto-systeme-paie.png"
                                class="attachment-full size-full" alt=""
                                loading="lazy" /></figure>
                            <div class="elementor-image-box-content">
                              <h2 class="elementor-image-box-title">Système de paie
                              </h2>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="elementor-element elementor-element-275780e txt ul_noir no_mb z_index_1 elementor-widget elementor-widget-text-editor"
                        data-id="275780e" data-element_type="widget"
                        data-widget_type="text-editor.default">
                        <div class="elementor-widget-container">
                          <ul class="no_mb">
                            <li class="no_mb">L’interface avec votre système de paie
                              permet d’intégrer les données nécessaires pour émettre
                              les bulletins de paie de vos employés.</li>
                          </ul>
                        </div>
                      </div>
                      <div class="elementor-element elementor-element-a9adc8d img no_mb z_index_2 elementor-widget elementor-widget-raven-image"
                        data-id="a9adc8d" data-element_type="widget"
                        data-widget_type="raven-image.default">
                        <div class="elementor-widget-container">
                          <div class="raven-image"
                            data-parallax="{&quot;y&quot;:-15,&quot;smoothness&quot;:30}">


                            <img width="1425" height="269"
                              src="assets/wp-content/uploads/2021/08/capture-sys-paie.png"
                              class="attachment-full size-full"
                              alt="capture système de paie" loading="lazy"
                              srcset="assets/wp-content/uploads/2021/08/capture-sys-paie.png 1425w, assets/wp-content/uploads/2021/08/capture-sys-paie-300x57.png 300w, assets/wp-content/uploads/2021/08/capture-sys-paie-1024x193.png 1024w, assets/wp-content/uploads/2021/08/capture-sys-paie-150x28.png 150w, assets/wp-content/uploads/2021/08/capture-sys-paie-768x145.png 768w"
                              sizes="(max-width: 1425px) 100vw, 1425px" />
                          </div>
                        </div>
                      </div>
                      <div class="elementor-element elementor-element-27a3874 txt txt2 ul_noir z_index_1 elementor-widget elementor-widget-text-editor"
                        data-id="27a3874" data-element_type="widget"
                        data-widget_type="text-editor.default">
                        <div class="elementor-widget-container">
                          <ul class="no_mb">
                            <li>Gagnez du temps avec cette solution efficace qui élimine
                              l’étape chronophage de la saisie manuelle des variables
                              de paie en fin de période.</li>
                            <li>Votre logiciel de paie ne figure pas encore dans la
                              liste de nos partenaires techniques ? Nous pouvons
                              développer l’interface !</li>
                          </ul>
                        </div>
                      </div>
                      <div class="elementor-element elementor-element-4d8f376 cta bleu elementor-widget elementor-widget-button"
                        data-id="4d8f376" data-element_type="widget"
                        data-widget_type="button.default">
                        <div class="elementor-widget-container">
                          <div class="elementor-button-wrapper">
                            <a mat-raised-button href="/contact" target="_blank"  class="elementor-button-link elementor-button elementor-size-sm elementor-animation-grow">CONTACTEZ-NOUS</a>
  
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>

</div><!-- #page -->
<app-footer></app-footer>
